:root{
    scroll-behavior: smooth;
}
@font-face {
    font-family: Poppins;
    src: url('../assets/Poppins-Regular.ttf');
}
@font-face {
    font-family: Anonymous;
    src: url('../assets/Anonymous Pro.ttf');
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
textarea {
    resize: none;
}
html {
    font-size: x-large;
    font-family: Poppins,Anonymous, sans-serif;
}
body{
    user-select: none;
    background : transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 725px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
}
