#sketch{
    position: relative;
    background-image: linear-gradient(to right, #eacda3, #d6ae7b);
    background-color: rgba(0, 0, 0, 0.05);
    width: 715px;
    height: 601px;
    outline: none;
    border: 1px solid #BFBFBF;
    box-shadow: 4px 5px 5px #aaaaaa;
    cursor: pointer;  
}
