.mainContant {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--mainContant);
    /* min-width: 720; */
    background:transparent;
}
.flex-start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}