body {
    user-select: none;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContant {
    margin-top: 0.3rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /* overflow: hidden; */
    width: 100%;
    height: max-content;
}

main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to right, #eacda3, #d6ae7b);
    width: 715px;
    height: 601px;
    margin-left: 0.2rem;
    border: 1px solid #BFBFBF;
    box-shadow: 4px 5px 5px #aaaaaa;
    cursor: pointer;
}

.details {
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-shrink: 0; */
    flex-direction: column;
    background-image: linear-gradient(to right, #eacda3, #d6ae7b);
    margin-left: 0.2rem;
    padding: 0.1rem;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.details input[type="radio"]{
    display:none;
}

.menu
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
}

.container {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 0.6rem;
    padding: 0.2rem;
    width : 25vw;
    /* max-width: fit-content; */
    min-width: 270px;
    display: flex;
    flex-direction: column;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 5px 5px #aaaaaa;
    margin: 0.25rem;
}

.itemId {
    font-size: 0.47rem;
}

.divName, .z-index, .innerText, .grid, .size, .widthAndHeight {
    padding-top: 5px;
    width: 100%;
    display: flex;
}

.PropertiesTitle {
    font-size: 1rem;
}

#oriantaion {
    display: none;
}

.btnAddScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.2rem;
    white-space: nowrap;
}

.btnAddScreen:hover {
    color: brown;
}

.fa-bug {
    color: chocolate;
}

.oriantaionDiv, .fa-user-graduate, .btnAddScreen {
    font-size: 0.8rem;
    color: blue;
    transition: 700ms color ease-in, 751ms transform ease-out;
}

.oriantaionDiv:hover {
    color: tomato;
}

.fa-user-graduate:hover {
    color: green;
}

.oriantaionLabel {
    display: flex;
    align-items: center;
    justify-self: center;
}

#oriantaion:checked~label>.fa-sync {
    transform: rotate(45deg);
    color: green;
}

.plusBtn, .fa-sync {
    size: 1;
    max-width: 1.6rem;
}

.menuTool {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 0.2rem;
}

.action {
    margin: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.action>div {
    margin: 0.3rem;
}

.button-style {
    background-color: #4caf50;
    border-style: None;
    border-width: 0px;
    color: #ffffff;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6rem;
}

.treeDiv {
    display: none;
    flex: 1;
    /* width: 100%; */
    width : 25vw;
    min-width: 270px;
    /* max-width: fit-content; */
    margin: 0.25rem;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 0.2rem;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.treeDiv .list {
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 4px;
    padding: 8px;
    transition: all 0.2s linear;
    max-height: 465px;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.treeDiv .list .list-item {
    font-size: 0.5rem;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 15px 20px;
    text-align: center;
    margin: 4px 0px;
    color: rgb(82, 104, 49);
}

.btnShowProperties, .btnShowTree, .btnDeleteScreen , .btnAppbar {
    margin: 0.25rem;
}

.btnShowProperties, .btnShowTree {
    background-color: #378de5;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    padding: 7px 24px;
    margin: 0.25rem;
    text-decoration: none;
}

.btnShowProperties:hover, .btnShowTree:hover {
    background-color: #2c6db2;
    cursor: pointer;
}

.deleteScreen , .appBar {
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="number"] {
    size: 1;
    max-width: 40px;
    margin: 0.1rem;
}

.footer-bottom {
    margin: auto;
}

.details > .menu > label{
    padding : 0.3rem;
    background : #c2c2c2;
    font-weight: bold;
    border: 1px solid #BFBFBF;
    box-shadow: 4px 5px 5px #aaaaaa;
    max-height: fit-content;
}

.details  > .menu > label:hover {
    transform : scale(1.1);
}

.details .menu input[type="radio"]:checked + label {
    background: #fff;
}

@media all and (max-width: 1030px) {
    /*all screeen less then 1030px*/
    .mainContant {
        flex-direction: column;
        align-items: center;
    }
    .tools {
        flex-direction: column;
    }
    main {
        width: 100%;
        max-width: fit-content;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
        /* width: 715px; */
        /* height: 601px; */
    }
    .p5Canvas {
        margin: 0;
    }
    .details {
        margin-top: 0.3rem;
    }
}
